<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Record</title>
    <link rel="stylesheet" href="/static/css/recordList.css">
    <script language="JavaScript" type="text/javascript">
        window.onload = function () {
            var t = document.getElementById("table1");
            for (var i = 1; i < t.rows.length; i++) {
                t.rows[i].cells[0].innerHTML = i;
            }
        }
    </script>

</head>

<body>
<div>
    <table id="table1">
        <caption id="a">
            <h2>Purchase Record List</h2>
        </caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
            <th>Money</th>
            <th>Type</th>
            <th>Description</th>
            <th>Operation</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td></td>
                <td>{{ item.username }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.money }}</td>
                <td>
                    <span {{ item.type }}:case=0>expense</span>
                    <span {{ item.type }}:case=1>income</span>
                <td>{{ item.description }}</td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="operationType" value="1">
                        <input type="hidden" name="itemId" value="{{ item.id }}">
                        <button type="submit" id="button1">Update</button>
                    </form>
                </td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="operationType" value="2">
                        <input type="hidden" name="itemId" value="{{ item.id }}">
                        <button type="submit" id="button2">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p></p>
    <a href="{% url 'addRecord' %}"><button type="button">Add new</button></a>
    <!--    <p>Here is to show message</p>-->
</div>
{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}')
        {% endfor %}
    </script>
{% endif %}
</body>
</html>